body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.calendarTr {
    width: 1284px;
    height: 35px;
}
.dayregion {
    float: left;
    border: 1px solid #008080;
    
}
.canendarregion {
     float: left;
    border: 1px solid #008080;
    border-top: none;
}

.dayDiv {
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
.calendarDiv {
    width: 580px;
    height: 35px;
    line-height: 35px;
    border-left: none;
    text-align: center;
}
.dayContent {
    width: 120px;
    text-align: center;
    height: 42px;
}
.calendarContent {
    width: 580px;
    height: 42px;
    border-left: none;
    text-align: center;
    cursor: pointer;
}