@{
    ViewBag.Title = "CalendarNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CalendarNavigation</h2>
<h3>@Html.ActionLink("DeptCalendar","DeptCalendar","Calendar")&nbsp;&nbsp;@Html.ActionLink("PersonalCalendar","PersonalCalendar","Calendar")</h3>
